<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} | %X{marker} | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/application.log</File>x
        <encoder>
            <pattern>[%4p] [%d{ISO8601}] | [%t] %X{sourceThread} | %c{1}: %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/application.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="kafka" level="ERROR"/>
    <logger name="kafka.network.Processor" level="OFF" /> <!-- To silence expected IOExceptions on consumer shutdown -->
    <logger name="org.apache.zookeeper.jmx" level="ERROR"/>  <!-- To silence expected JMX errors on ZK shutdown -->
    <logger name="kafka.server.KafkaApis" level="OFF" /> <!-- To silence expected occasional AdminOperationException on startup -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/> <!-- Silencing warnings when writing to not yet initialized topic -->

    <logger name="in ch.qos.logback" level="ERROR"/> <!-- To silence expected logback log on startup-->
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="c.q.l.core" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>